backend/out/artifacts/equoterapia_war_exploded/META-INF/MANIFEST.MF
backend/out/artifacts/equoterapia_war_exploded2/.DS_Store
backend/out/artifacts/.DS_Store
backend/out/.DS_Store
backend/.DS_Store
dados-mysql
