
patronatoAPI/out/artifacts/patronatoAPI_war_exploded/META-INF/MANIFEST.MF
patronatoAPI/out/artifacts/patronato_war_exploded2/.DS_Store
patronatoAPI/out/artifacts/.DS_Store
patronatoAPI/out/.DS_Store
patronatoAPI/.DS_Store
dados-mysql
