.btn-primary {
  font-weight: bold !important;
}

.right {
  float: right;
}

.toolbar {
  border: 2px solid #62935e !important;
  padding: 8px;
  background-color: #ffffff8a;
  border-radius: 12px;
}

.nossoToolbar {
  text-align: right;
}

.btnToolbar {
  margin-right: 5px;
  width: 110px;
  height: 40px;
}

.btn-info {
  font-weight: bold !important;
  color: white !important;
  background-color: #006bff !important;
  border: none !important;
}

button {
  height: 35px;
}

.center {
  text-align: center;
}

.right {
  float: right
}

.btnPaginacao {
  margin: 2px;
}

.btnMarginTop{
  margin-top: 5px;
}

.textArea{
  height: 80px;
}

.marginLeft{
  margin-left: 10px !important;
}