body {
  background-color: #E0E5E0 !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary {
  font-weight: bold !important;
}

.right {
  float: right;
}

.toolbar {
  border: 2px solid #62935e !important;
  padding: 8px;
  background-color: #ffffff8a;
  border-radius: 12px;
}