.fotoPessoa {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

#imgPessoa {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid #B48F69;
}