.child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.titulo {
    margin-top: 10%;
    font-size: 26px;
    font-weight: 600;
}

.subtitulo {
    font-size: 18px;
}

.cavaloGif {
    width: 200px;
}

.logo {
    width: 50px;
}

@media (max-width: 640px) {
    .logo {
        width: 200px;
    }
}